<svg width="{{boxSize}}" height="{{boxSize}}" fill="none" xmlns="http://www.w3.org/2000/svg">
  <foreignObject x="0" y="0" width="{{boxSize}}" height="{{boxSize}}">
  <div xmlns="http://www.w3.org/1999/xhtml">
    <style>
      #container {
        display:flex;
        flex-direction: column;
        width: {{boxSize}}px;
        height: {{boxSize}}px;
        padding: 10px;
        font-family: Arial, sans-serif;
        background-color: black;
      }

      #container ul {
        padding-left: 47px;
      }

      #container ul > li > a {
        color: #945EF3;
        font-size: 15px;
      }

      #title{
        padding-left: 27px;
        font-size: 20px;
      }

      #total_titulo{
        color: #945EF3;
        font-size: 30px;
        font-weight: bold;
      }

      #total_texto{
        color: #945EF3;
        font-size: 20px;
      }

      #contribuicoes{
        color: #945EF3;
        font-size: 20px;
        margin-top: 30px;
      }

      .indicadores{
        padding-left: 27px;
        display:flex;
        flex-direction: column;

      }

      .artigos{
        font-size: 10px;
        width: 100%;
      }

    </style>
    <div id="container">
      <h2 id="title">{{user}} Dev.to Stats</h2>
      <div class="indicadores">
        <text id="total_titulo">{{total}}</text>
        <text id="total_texto">artigos criados</text>

        <text id="contribuicoes">Últimas contribuições</text>
      </div>
      <ul class="artigos_container">
        {{#articles}}
          <li class="artigos">
            <a href="{{url}}">{{title}}</a>
          </li>
        {{/articles}}
      </ul>
    </div>
  </div>
  </foreignObject>
</svg>
