<svg width="341" height="571" fill="none" xmlns="http://www.w3.org/2000/svg">
  <foreignObject x="0" y="0" width="341" height="571">
    <div xmlns="http://www.w3.org/1999/xhtml">
      <style>
        #container {
          width: 341px;
          height: 571px;
          background-color: #14213D;
        }

        #container ul > li {
          color: white;
        }
      </style>
      <div id="container">
        <ul>
          {{#articles}}
            <li>{{title}}</li>
          {{/articles}}
        </ul>
      </div>
    </div>
  </foreignObject>
</svg>
