<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatísticas Dev.to</title>
    <style>
        body {
            background: black;
            color: white;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            margin: 0 auto;
        }

        label {
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            background-color: #333;
            color: white;
        }

        button {
            padding: 10px 20px;
            background-color: #945EF3;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;

        button:hover {
            background-color: #6743E0; /* Cor de fundo ao passar o mouse */
        }
    </style>
</head>
<body>
    <h1>Estatísticas Dev.to para Readme</h1>
    <form action="/stats" method="GET">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="usuario">Usuário no Dev.to:</label>
        <input type="text" id="usuario" name="usuario" required>
        
        <button type="submit">Gerar estatísticas</button>
    </form>
</body>
</html>
